<h2> 
    Details for <%=@employee.name%>
</h2>


<p>
    <b>Address:</b> <%=@employee.address%>
    <br><br>
    <b>Phone Number:</b> <%=@employee.phone_number%>
    <br><br>
    <b>Place of Work:</b> <%=@employee.business.name%>
    <br><br>
    <b>Schedule:</b> <%=@employee.schedule%>
    <br><br>

    <a href="/employees/<%=@employee.id%>/edit"><button>Edit Employee</button></a>
    <form action="/employees/<%=@employee.id%>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete employee">
    </form>
    <br><br><a href="/employees"><button>Go to employees</button></a>
    <br><br><a href="/businesses"><button>Go to businesses</button></a>

    <br><br><br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>
